<div class="container">
  <footer class="d-flex flex-wrap justify-content-between align-items-center py-3 my-4 border-top">
    <div class="col-md-4 d-flex align-items-center">
      <a href="@env.Resource/" class="mb-3 me-2 mb-md-0 text-body-secondary text-decoration-none lh-1">
        <img src="@env.Resource/static/img/logo.png" alt="Logo" width="32" height="32" class="d-inline-block align-text-top">
      </a>
      <span class="mb-3 mb-md-0 text-body-secondary">© @system.year @env.CompanyName</span>
    </div>

    <ul class="nav col-md-4 justify-content-end list-unstyled d-flex">
      <li class="ms-3"><a class="text-body-secondary" href="https://x.com/EmbarcaderoTech"><i
            class="bi-twitter-x"></i></a></li>
      <li class="ms-3"><a class="text-body-secondary" href="https://github.com/Embarcadero"><i
            class="bi-github"></i></a></li>
      <li class="ms-3"><a class="text-body-secondary" href="https://linkedin.com/company/embarcadero-technologies"><i
            class="bi-linkedin"></i></a></li>
    </ul>
  </footer>
</div>