<div class="my-hero bd-gutter">
	<div class="px-4 py-5 my-5 text-center">
		<img class="d-block mx-auto mb-4" src="@env.Resource/static/img/logo.png" alt="WebStencils">
		<h1 class="display-3 fw-bold my-text-gradient">WebStencils</h1>
		<h2 class="display-6">@env.AppEdition Demo</h2>		
		<div class="col-lg-6 mx-auto">
			<p class="lead mb-4">Welcome to the WebStencils demo project. Feel free to navigate through the multiple
				menu options as well as analize the code that involves the creation of this website.</p>
			<div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
				<a href="@env.Resource/basics" class="btn btn-primary btn-lg px-4 gap-3" tabindex="-1" role="button">See Docs</a>
				<a href="@env.Resource/tasks" class="btn btn-outline-secondary btn-lg px-4" tabindex="-1" role="button">HTMX
					demo</a>
			</div>
		</div>
	</div>
</div>