<html lang="en">
  <head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link
	rel="stylesheet"
	href="https://cdn.jsdelivr.net/npm/@@picocss/pico@@2/css/pico.min.css"
    >	
	<meta name="color-scheme" content="light dark">	
	<title>WebStencils demo</title>	
  </head>
<body class="container">
<h1>Anonymous methods</h1>
<h4>@@env1 - TMap type</h4>
<p>APP_VERSION = @env1.APP_VERSION</p>
<p>DEBUG_MODE = @env1.DEBUG_MODE</p>
<h4>@@env2 - Fully anonymous</h4>
<p>APP_VERSION = @env2.APP_VERSION</p>
<p>DEBUG_MODE = @env2.DEBUG_MODE</p>
</body>
</html>